<%# @profile = Profile.where(user_id: @user.id)%>
<p>Bonjour !</p>

<p>Vous avez reçu un nouveau message dans votre messagerie interne Médentraid. Rendez-vous sur la plateforme pour le visualiser !  </p>

<p>A bientôt!</p>
<br/>
<br/>
<p>L'équipe de Médentraid</p>
