<% @profile = Profile.where(user_id: @user.id)%>
<p>Bonjour !</p>

<p>Bienvenue sur notre plateforme Médentraid . Il ne vous reste plus qu'une étape avant de profiter des services, il vous faut en effet remplir votre formulaire de profil . </p>

<p>A bientôt!</p>
<br/>
<br/>
<p>L'équipe de Médentraid</p>
