      <footer class="page-footer-full section section-full-width">
        <div class="shell">
          <div class="range range-15">
            <div class="cell-sm-5">
              <p class="copyright">Antoine STAUMONT &#169; <span class="copyright-year"></span>. <a href="<%=pages_mention_path%>">Mentions légales</a>
              </p>
            </div>
            <div class="cell-sm-5 text-sm-right">
              <ul class="list-inline">

              </ul>
            </div>
          </div>
        </div>
      </footer>
