
    <div class="text-left page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <svg x="0" y="0" width="258" height="258">

              <clippath id="clip-path">

              </clippath>
            </svg>
          </div>
        </div>
      </div>
      <section class="section-lg bg-white text-center">

      </section>
      <!-- Boxed Grid System-->
      <section class="section section-md bg-white">
        <div class="container grid-system-bordered grid-demonstration">
          <h2 class="text-center">Bienvenue sur Med Entraid !</h2>
          <div class="row">
            <div class="col-xs-12">

              <p>Cette page contiendra toutes les infos destinées au grand public.</p>
              <p>Comme vous pouvez le constater, nous n'en sommes qu'au début !</p>
              <p>A tres bientôt !</p>
            </div>
          </div>




        </div>
      </section>
      <!-- Page Footer-->

    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

