<div class="text-left page">
      <!-- Page preloader-->
      <div class="page-loader">
        <div>
          <div class="page-loader-body">
            <svg x="0" y="0" width="258" height="258">

              <clippath id="clip-path">

              </clippath>
            </svg>
          </div>
        </div>
      </div>
      <section class="section-lg bg-white text-center">

      </section>
      <!-- Boxed Grid System-->
      <section class="section section-md bg-white">
        <div class="container grid-system-bordered grid-demonstration">
          <h2 class="text-center">Mentions légales</h2>
          <div class="row">
            <div class="col-xs-12">


              <br/>
              <H5>Identité du responsable du traitement:  </h5>
              <i>Antoine STAUMONT</i>
              <br/>
              <br/>
              <br/>
              <H5>Finalité poursuivie par le traitement auquel les données sont destinées:  </h5>
              <p>Les informations recueillies vous concernant font l’objet d’un traitement pour la finalité suivante : bon fonctionnement de la plateforme d'entraide , seuls le pseudo, l'âge,la ville et la photo uploadée par l'utilisateur seront visibles uniquement des autres inscrits , les autres données étant utilisées pazr l'équipe à des fins de communication .</p>
              <br/>
              <br/>
              <br/>
              <h5>En ce qui concerne les formulaires du site: </h5>
              <p>Seul le pseudo est obligatoire pour le formulaire de profil. Les autres infos (photo, date de naissance , nom , prenom et ville) sont facultatives mais vivement conseillées pour une bonne utilisation de la plateforme. Pour le formulaire d'identification Log-In l'entée d'un email et d'un mot de passe sont obligatoires .</p>
              <br/>
              <br/>
              <br/>
              <h5>Les droits dont disposent les inscrits à l' égard de ces données: </h5>
              <p>Vous bénéficiez d’un droit d’accès, de rectification, de portabilité, d’effacement de celles-ci ou une limitation du traitement.
              Vous pouvez vous opposer au traitement des données vous concernant et disposez du droit de retirer votre consentement à tout moment en vous adressant à un mebre de l'équipe . Vous aurez également la possibilité dans votre page profile d'effacer facilement d'un simple click de souris votre compte ainsi que vos messages, commentaires et artilces vous concernant.
              Vous avez la possibilité d’introduire une réclamation auprès d’une autorité de contrôle. </p>
              <br/>
              <br/>
              <br/>
              <h5>Autres infos importantes: </h5>
              <p>Les destinataires de ces données sont : les autres inscrits (pseudo, ville  et âge ainsi que photo) et les membres administrateurs ( email, nom et prénom)
              Les internautes non inscrits n'auront accès à aucune donnée. </p>
            </div>

          </div>




        </div>
      </section>
      <!-- Page Footer-->

    </div>
    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>

